{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<h1>{{ title }}</h1>
<form method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <p>
        {{ form.nazwa.label }}<br>
        {{ form.nazwa(size=32) }}
    </p>
    <p>
        {{ form.lokalizacja.label }}<br>
        {{ form.lokalizacja(size=32) }}
    </p>
    <p>
        {{ form.cena_dzienna.label }}<br>
        {{ form.cena_dzienna() }}
    </p>
    <p>
        {{ form.opis.label }}<br>
        {{ form.opis(rows=4, cols=40) }}
    </p>
    <p>
        {{ form.zdjecia.label }}<br>
        {{ form.zdjecia() }}
    </p>
    <p><input type="submit" value="Dodaj nieruchomość"></p>
</form>
{% endblock %}
