{% extends "base.html" %}

{% block content %}
    <div class="container mt-4">
        <div class="jumbotron">
            <h1 class="display-4">Witamy w naszej firmie!</h1>
            <p class="lead">Życzymy miłej współpracy i mamy nadzieję, że znajdziesz coś dla siebie.</p>
            <hr class="my-4">
            <p>Oferujemy szeroki wybór nieruchomości do wynajęcia w różnych lokalizacjach. Sprawdź nasze oferty i znajdź idealne miejsce dla siebie.</p>
            <a class="btn btn-primary btn-lg" href="{{ url_for('katalog') }}" role="button">Przeglądaj Nieruchomości</a>
        </div>
    </div>

    <div class="container mt-4">
        <h2>Nasze Nieruchomości</h2>
        <div class="row">
            {% for property in properties %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        {% if property.zdjecia|length > 0 %}
                            <img src="{{ url_for('static', filename='uploads/' ~ property.zdjecia[0].filename) }}" class="card-img-top" alt="{{ property.nazwa }}">
                        {% else %}
                            <img src="{{ url_for('static', filename='uploads/default.jpg') }}" class="card-img-top" alt="{{ property.nazwa }}">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ property.nazwa }}</h5>
                            <p class="card-text">{{ property.opis }}</p>
                            <a href="{{ url_for('property_detail', property_id=property.id) }}" class="btn btn-primary">Zobacz więcej</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
