{% extends "base.html" %}
{% block title %}Katalog Nieruchomości{% endblock %}
{% block content %}
<h1>Katalog Nieruchomości</h1>
{% for nieruchomosc in nieruchomosci %}
    <div class="property">
        <h2><a href="{{ url_for('property_detail', property_id=nieruchomosc.id) }}">{{ nieruchomosc.nazwa }}</a></h2>
        <p>{{ nieruchomosc.lokalizacja }}</p>
        <p>{{ nieruchomosc.cena_dzienna }} PLN</p>
        <p>{{ nieruchomosc.opis }}</p>
        <p>Średnia ocena:
            {% for i in range(5) %}
                <span class="fa fa-star {% if i < nieruchomosc.average_rating %}checked{% endif %}"></span>
            {% endfor %}
            ({{ nieruchomosc.average_rating or 0 }})
        </p>
        <div class="property-gallery">
            {% for zdjecie in nieruchomosc.zdjecia %}
                <img src="{{ url_for('static', filename='uploads/' ~ zdjecie.filename) }}" alt="Zdjęcie {{ nieruchomosc.nazwa }}" style="margin-bottom: 10px;">
            {% endfor %}
        </div>
        <a href="{{ url_for('property_detail', property_id=nieruchomosc.id) }}" class="btn btn-primary">Zobacz szczegóły</a>
    </div>
{% endfor %}
{% endblock %}
