{% extends "base.html" %}

{% block content %}
<div>  
<h2>O Nas</h2>
    <p>Nasza firma działa na rynku nieruchomości od 2010 roku, oferując kompleksowe usługi związane z wynajmem i sprzedażą nieruchomości. Specjalizujemy się w wynajmie domów, mieszkań, lokali użytkowych oraz powierzchni biurowych.</p>

    <h3>Nasze podejście</h3>
    <p>Zdajemy sobie sprawę, że wybór nieruchomości to ważna decyzja, dlatego dokładamy wszelkich starań, aby nasze usługi były na najwyższym poziomie. Naszym celem jest pełne zadowolenie klienta, dlatego każdą transakcję traktujemy indywidualnie i z pełnym zaangażowaniem.</p>

    <h3>Czym się zajmujemy</h3>
    <ul>
        <li>Wynajem domów i mieszkań</li>
        <li>Sprzedaż nieruchomości</li>
        <li>Wynajem lokali użytkowych</li>
        <li>Wynajem powierzchni biurowych</li>
        <li>Doradztwo w zakresie nieruchomości</li>
    </ul>

    <h3>Nasze podejście do klienta</h3>
    <p>Klient jest dla nas najważniejszy. Nasza firma charakteryzuje się indywidualnym podejściem do każdej osoby. Słuchamy potrzeb naszych klientów i staramy się znaleźć najlepsze rozwiązania, które spełnią ich oczekiwania. Działamy profesjonalnie, rzetelnie i z pasją.</p>
</div> 
    {% endblock %}
