{% extends "base.html" %}

{% block title %}Opinie{% endblock %}

{% block content %}
<h1>Dodaj opinię</h1>
<form method="POST" action="{{ url_for('opinie') }}">
    {{ form.hidden_tag() }}
    <div>
        <label for="nieruchomosc_id">Nieruchomość:</label>
        <select name="nieruchomosc_id">
            {% for nieruchomosc in nieruchomosci %}
                <option value="{{ nieruchomosc.id }}">{{ nieruchomosc.nazwa }}</option>
            {% endfor %}
        </select>
    </div>
    <div>
        <label for="rating">Ocena (1-5):</label>
        <div class="star-rating">
            <input id="star-5" type="radio" name="rating" value="5">
            <label for="star-5" title="5 stars">★</label>
            <input id="star-4" type="radio" name="rating" value="4">
            <label for="star-4" title="4 stars">★</label>
            <input id="star-3" type="radio" name="rating" value="3">
            <label for="star-3" title="3 stars">★</label>
            <input id="star-2" type="radio" name="rating" value="2">
            <label for="star-2" title="2 stars">★</label>
            <input id="star-1" type="radio" name="rating" value="1">
            <label for="star-1" title="1 star">★</label>
        </div>
        {% for error in form.rating.errors %}
            <span>{{ error }}</span><br>
        {% endfor %}
    </div>
    <div>
        {{ form.comment.label }}<br>
        {{ form.comment() }}<br>
        {% for error in form.comment.errors %}
            <span>{{ error }}</span><br>
        {% endfor %}
    </div>
    <div>
        {{ form.submit() }}
    </div>
</form>
{% endblock %}
