{% extends "base.html" %}

{% block title %}Opinie - {{ nieruchomosc.nazwa }}{% endblock %}

{% block content %}
<h1>Opinie dla {{ nieruchomosc.nazwa }}</h1>
<ul>
    {% for opinion in nieruchomosc.opinions %}
        <li>
            <div class="opinion-rating">
                <div class="star-rating">
                    {% for i in range(5) %}
                        <span class="fa fa-star{% if i < opinion.rating %} checked{% endif %}"></span>
                    {% endfor %}
                </div>
                <span>({{ opinion.rating }})</span>
            </div>
            <p>{{ opinion.comment }}</p>
            <p>Dodane przez: {{ opinion.user.username }}</p>
        </li>
    {% endfor %}
</ul>
<a href="{{ url_for('katalog') }}">Powrót do katalogu</a>
{% endblock %}
