{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<h1>Wynajmij {{ nieruchomosc.nazwa }}</h1>
<form method="POST" action="">
    {{ form.hidden_tag() }}
    <p>
        {{ form.start_date.label }}<br>
        {{ form.start_date(size=32) }}<br>
    </p>
    <p>
        {{ form.end_date.label }}<br>
        {{ form.end_date(size=32) }}<br>
    </p>
    <p>Całkowita cena: <span id="total_price">0</span> PLN</p>
    <p>{{ form.submit(class="btn btn-primary") }}</p>
</form>

<script>
    const startDateInput = document.querySelector('#start_date');
    const endDateInput = document.querySelector('#end_date');
    const totalPriceElement = document.querySelector('#total_price');
    const dailyPrice = {{ nieruchomosc.cena_dzienna }};

    function calculateTotalPrice() {
        const startDate = new Date(startDateInput.value);
        const endDate = new Date(endDateInput.value);
        if (startDate && endDate && startDate <= endDate) {
            const totalDays = (endDate - startDate) / (1000 * 60 * 60 * 24);
            const totalPrice = totalDays * dailyPrice;
            totalPriceElement.textContent = totalPrice.toFixed(2);
        } else {
            totalPriceElement.textContent = '0';
        }
    }

    startDateInput.addEventListener('change', calculateTotalPrice);
    endDateInput.addEventListener('change', calculateTotalPrice);
</script>
{% endblock %}
